- "%load_ext sql" is used to activate sql in Jupyter
- "%sql sqlite:///database_name.db" is used to select the working database

In [24]:
%load_ext sql 
%sql sqlite:///chinook.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

- The command "%%SQL" is referenced before writing an SQL Command

In [25]:
%%sql 
Select * from invoices where BillingState != 'None' and BillingCountry == "USA"
order by Total DESC
limit 5;

 * sqlite:///chinook.db
Done.

[(299, 26, '2012-08-05 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 23.86),
 (201, 25, '2011-05-29 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 18.86),
 (103, 24, '2010-03-21 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 15.86),
 (5, 23, '2009-01-11 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 13.86),
 (26, 19, '2009-04-14 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 13.86)]